.btn {
    display: inline-block;
    text-decoration: none;
    font: bold 12px/12px HelveticaNeue, Arial;
    padding: 6px 20px;
    color: #555;
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn.white{
    background: #f5f5f5;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0)); /*  WebKit */
    background:-moz-linear-gradient(top,  #f9f9f9, #f0f0f0);
    border-color:#dedede #d8d8d8 #d3d3d3;
    color:#555;
    text-shadow:0px 1px 0px #fff;
    -webkit-box-shadow:0px 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    -moz-box-shadow: 0px 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    box-shadow:0px 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
}

.btn.white:hover, .btn.white.selected{
    background:#f4f4f4;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f8f8f8'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#efefef), to(#f8f8f8)); /*  WebKit */
    background:-moz-linear-gradient(top,  #efefef, #f8f8f8);
    border-color:#c7c7c7 #c3c3c3 #bebebe;
    text-shadow:0px 1px 0px #fdfdfd;
    -webkit-box-shadow:0px 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    -moz-box-shadow:0px 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    box-shadow:0px 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
}

.btn.green{
    background:#b7d770;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae285', endColorstr='#9fcb57'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#cae285), to(#9fcb57)); /*  WebKit */
    background:-moz-linear-gradient(top,  #cae285, #9fcb57);
    border-color:#adc671 #98b65b #87aa4a;
    color:#5d7731;
    text-shadow:0px 1px 0px #cfe5a4;
    -webkit-box-shadow:0px 1px 1px #d3d3d3, inset 0px 1px 0px #d7e9a4;
    -moz-box-shadow:0px 1px 1px #d3d3d3, inset 0px 1px 0px #d7e9a4;
    box-shadow:0px 1px 1px #d3d3d3, inset 0px 1px 0px #d7e9a4;
}
.btn.green:hover, .button.green.selected{
    background:#b9d972;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8d872', endColorstr='#b9d972'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#b8d872), to(#b9d972)); /*  WebKit */
    background:-moz-linear-gradient(top,  #b8d872, #b9d972);
    border-color:#8bb14d #83a648 #7d9e45;
    text-shadow:0px 1px 0px #d5e8aa;
    -webkit-box-shadow:0px 1px 1px #d5d5d5, inset 0px 1px 0px #cae295;
    -moz-box-shadow:0px 1px 1px #d5d5d5, inset 0px 1px 0px #cae295;
    box-shadow:0px 1px 1px #d5d5d5, inset 0px 1px 0px #cae295;
}